*{
  :focus {
    box-shadow: none;
  }
}

.social__tooltip{
  position: absolute;
  padding: .5rem 1rem;
  background-color: var(--first-color);
  color: var(--first-color-light);
  font-size: var(--normal-font-size);
  white-space: nowrap;
  font-weight: 700;
  border-radius: .5rem;
  pointer-events: none;
}

.social__tooltip::after{
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 3px;
}

.social__tooltip-bottom{
  opacity: 1;
  // bottom: 31.75rem;
  // left: 50%;
  // transform: translate(-50%, 100%);
}

.social__tooltip-bottom::after{
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  top: 1px;
}
